.list-item-enter {
    margin-right: 10px;
  }
  .list-enter-active, .list-leave-active {
    transition: all 1s;
  }
  .list-enter, .list-leave-to  {
    opacity: 0;
    transform: translateY(30px);
  }

  .pop-item-enter {
    margin-right: 10px;
  }
  .pop-enter-active, .pop-leave-active {
    transition: all 1s;
  }
  .pop-enter, .pop-leave-to  {
    opacity: 0;
    transform: translateY(30px);
  }